<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport"  content="width=device-width">
	<title> {% block title %} Projeto Integrador{% endblock %}
	</title>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">


</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{% url 'index' %}">Início</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'graficos' %}">Gráficos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'history' %}">Histórico</a>
				</li>
			</ul>
		</div>
	</nav>
	{% block primary %}{% endblock %}
	<script type="text/javascript" src="{% static 'lib/js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/js/bootstrap.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/js/Chart.bundle.js' %}"></script>
	{% block import_scripts %}{% endblock %}
</body>
</html>
