{% extends 'base.html' %}

{% load static %}

{% block primary %}
<div class="alert alert-primary" role="alert">
  Gráfico relacionado à última pesquisa na base de dados.
</div>
<canvas id="sentimentsChart"></canvas>
{% endblock %}
{% block import_scripts %}
<script type="text/javascript">
	var ctx = document.getElementById("sentimentsChart");
    var positive = JSON.parse('{{ positive|safe }}');
    var defaults = JSON.parse('{{ default|safe }}');
    var negative = JSON.parse('{{ negative|safe }}');
    var productsChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Positivo', 'Neutro', 'Negativo'],
        datasets: [{
            label: 'Sentimentos',
            data: [positive, defaults, negative],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>
{% endblock %}