{% extends 'base.html' %}

{% block import_scripts %}
	<script>
		$('.btn').click(function(){
			var date = $(this).attr('id')
			$.ajax({
				url: '{% url "history_ajax" %}',
				data: {
					'date': date
				},
				dataType: 'json',
				success: function(data){
					console.log(data);
				}
			})
		});		
	</script>
{% endblock %}

{% block primary %}
<div class="alert alert-primary" role="alert">
	Histórico de buscas na API
</div>
<div class="container">
	<div class="row">
		{% for t in table %}
		<div class="card" style="width: 18rem; margin-top: 5px; margin-bottom: 5px; margin-right: 10px; margin-left: 50px;">
	  		<div class="card-body">
    			<h5 class="card-title">{{ t.time_was_made }}</h5>
    			<p class="card-text">Número de Tweets: {{ t.count_tweets }}</p>
    			<div class="alert alert-primary" role="alert">
 				 A tag utilizada para a pesquisa foi: '{{ t.tags }}'
				</div>
				<button id="{{ t.time_was_made|date:'Y-m-d H:i:s' }}" class="btn btn-primary">Redirecionar</a></button>
  			</div>
		</div>
{% endfor %}
	</div>
</div>
{% endblock %}