{% extends 'base.html' %}

{% block primary %}
<form class="text-center form-signin" action="{% url 'procurar' %}" style="margin-top: 130px" method="POST">  {% csrf_token %}
  <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Informe o que deseja procurar</h1>
    <label for="search" class="sr-only">Tags</label>
    <input class="form-control"  placeholder="Tags" autofocus {{ form.search }}
    <select class="form-control mr-5" id="ordernator" {{ form.field}}
    </select>
  <button class="btn btn-lg btn-primary btn-block" type="submit" id="btnsearch">Procurar</button>
  <p class="mt-5 mb-3 text-muted">&copy; Bryan 2019</p>
</form>
{% endblock %}